# -- .env 仅用于开发测试 ---------
# GitHub 配置
GITHUB_TOKEN=ghp_your_github_token_here
GITHUB_REPO=username/docker_image_pusher

# 阿里云配置
ALIYUN_ACCESS_KEY_ID=your_access_key_id
ALIYUN_ACCESS_KEY_SECRET=your_access_key_secret
ALIYUN_REGION=cn-hangzhou
ALIYUN_REGISTRY=registry.cn-hangzhou.aliyuncs.com
